<% layout('layouts/boilerplate')%>


<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-md-6 offset-md-3">

        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Campground Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]" required
                    value="<%= campground.title %>">
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Campground Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]" required
                    value="<%= campground.location %>">
            </div>

            <div class="mb-3">
                <label for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="Price" required
                        aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>">
                </div>

            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Campground Description</label>
                <textarea type="text" class="form-control" id="description" required
                    name="campground[description]"><%= campground.description %> </textarea>
            </div>

            <div class="mb-3">
                <div class="form-file custom-file">
                    <label class="form-file-label" for="image">Upload Image(s)</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
            </div>


            <div class="mb-3">
                <% campground.images.forEach(function(img, i) {  %>
                <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>


            <div class="mb-3">
                <button class="btn btn-info" type="submit">Update Campground</button>

            </div>

        </form>


    </div>

</div>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.validated-form')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>